<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>管理员登陆</title>
<link rel="stylesheet" type="text/css" href="css/denglu.css" />
</head>

<body>
	<div id="wrapper">
		<h1>后台登陆</h1>
		<p>
			<form name="admin" action="../admin/login.php" method="post" 
				<label for="yonghumin">管理员:</label>
				<input type="text" id="adminName" name="adminName" />
		</p>
		<p>
				<label for="mima">密&nbsp;&nbsp;码:</label>
				<input type="text" id="adminPwd"  name="adminPwd"/>
		</p>
		<p id="button">
				<input type="submit" name="submit" id="submit" value="管理员登陆" />
			</form>
		</p>
	</div>
</body>
</html>
