<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>后台管理</title>
<link rel="stylesheet" type="text/css" href="css/common.css" />
</head>

<body>
	<div id="wrapper" class="clearfix">
	
		<ul id="left">
			<li id="hy"><a href="welcome.php" target="contp">欢迎登陆</a></li>
			<li id="addsp"><a href="add.php" target="contp">增加</a></li>
			<li id="delete"><a href="del.php" target="contp">删除</a></li>
			<li id="tuichu"><a href="../index.php">退&nbsp;&nbsp;&nbsp;&nbsp;出</a></li>
		</ul>
		
		<div id="right">
			<iframe id="contp" name="contp" width="500" onload="this.height=contp.document.body.scrollHeight" scrolling="no" align="center" frameborder="1"  allowtransparency="yes" src="welcome.php"></iframe>
		</div>
	</div>
</body>
</html>
