<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link rel="stylesheet" type="text/css" href="css/add.css" />
<title>增加</title>
</head>

<body>
	<div id="wrapper">
	<div id="infor">
		<form name="add" action="" method="post">
		<h1>
		<p id="button">
			<input type="submit" name="submit" id="submit" value="提交"/>
		</p>
		<p>
				<label for="name">图片名:</label>
				<input name="name" type="text" id="name" maxlength="10"/>
		</p>
		<p>
				<label for="note">首页简介:</label>
				<input name="note" type="text" id="note" maxlength="20" />
		</p> 
		<p>
				<label for="describe">子页说明:</label>
				<textarea name="describe" id="describe" ></textarea>
		</p> 
		<p>
				<label for="id">图片号:</label>
				<input name="id" type="text" id="id" />
		</p>
		</h1>
		</form>
	</div>
	</div>
</body>
</html>